.sidebar {
  width: 260px;
  background: #111827;
  color: #fff;
  padding: 25px;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  transform: translateX(0);
  /* SEM esconder no desktop */
  transition: transform 0.3s ease;
}

.sidebar h2 {
  font-size: 1.6rem;
  margin-bottom: 30px;
  color: #4CAF50;
}

.sidebar ul {
  list-style: none;
}

.sidebar ul li {
  margin-bottom: 20px;
}

.sidebar ul li a {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 1.1rem;
  transition: 0.2s;
}

.sidebar ul li a:hover {
  color: #4CAF50;
}
