.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.topbar h1 {
  font-size: 2rem;
  font-weight: 600;
}

.profile {
  background: #111827;
  color: #fff;
  padding: 10px 18px;
  border-radius: 25px;
  font-size: 0.95rem;
}
