.home {
  flex-direction: column;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px 8%;
  gap: 40px;
}

.home-content {
  flex: 1;
  max-width: 600px;
}

h1 {
  color: #fff;
  font-size: 48px;
  font-weight: 900;
  line-height: 1.2;
}

h1 span {
  color: #ff6a00;
}

.subtitle {
  text-align: center;
  max-width: 100%;
  color: #fff;
  font-size: 2rem;
  margin: 20px 0;
  opacity: 0.8;
}

.botao-home {
  font-size: 2rem;
  display: inline-block;
  background: #ff6a00;
  padding: 30px 60px;
  border-radius: 30px;
  text-decoration: none;
  color: #000;
  margin-bottom: 40px;
  font-weight: bold;
  transition: all 0.3s ease;
  /* suaviza a animação */
}

.botao-home:hover {
  background: #ff8800;
  color: #fff;
  transform: scale(1.05);
}

/* -------------------- RESPONSIVIDADE -------------------- */

@media (max-width: 1100px) {
  h1 {
    font-size: 40px;
  }

  .home {
    padding: 60px 6%;
  }
}

@media (max-width: 900px) {
  .home {
    padding: 50px 6%;
  }

  .home-content {
    max-width: 100%;
  }

  .botao-home {
    margin: 20px auto 40px;
  }

}

@media (max-width: 600px) {
  h1 {
    font-size: 32px;
  }

  .home {
    padding: 40px 5%;
  }

}

@media (max-width: 400px) {
  h1 {
    font-size: 26px;
  }
}
