.background {
  position: relative;
  background-image: url('../img/background-predio.jpg');
  /* substitua a imagem */
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  background-repeat: no-repeat;
  overflow: hidden;
}
