@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;600;700&family=Roboto:wght@400;500;700&display=swap');

:root {
  --primary-color: #6d56c1;
  --secondary-color: #7b67c7;
  --background-color: #f9f9f9;
  --linear-gradient: linear-gradient(54deg,
      rgba(74, 76, 179, 0.95) 34%,
      hsla(0, 34%, 71%, 0.95));
  --title-color: #4a4a4a;
  --text-color: #555;
  /*======= Font Family ========*/
  --font-family-primary: 'Roboto', sans-serif;
  --font-family-secondary: 'Roboto Mono', monospace;

  --h1: 2.75rem;
  --h2: 2.25rem;
  --p1: 1.125rem;
  --p2: 1rem;
  --l1: 0.875rem;
  --l2: 0.75rem;
  /*======= Font Weigth ========*/
  --medium: 500;
  --semibold: 600;
  --bold: 700;
}
