.mobile-nav {
  display: none;
  width: 100%;
  background: #111827;
  padding: 15px 20px;
  color: #fff;
  position: fixed;
  top: 0;
  z-index: 20;
  justify-content: space-between;
  align-items: center;
}

.menu-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.menu-btn div {
  width: 28px;
  height: 3px;
  background: #fff;
  margin: 5px 0;
}
